body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
/* header section  start*/
header{
    background-color:lightseagreen;
    width: 1100px;
    margin-left: 100px;
    padding:50px;
    border-radius: 25px;
}
.show-banner{
    display: flex;
}
.banner-header{
    width: 50%;
    margin-left: 30px;
}
.banner-header h1{
    color: white;
    font-size: 70px;
}
.banner-header p{
color: white;
font-size: 14px;
}
.btn-icon{
    color: blue;
    padding: 10px;
    border: 2px solid greenyellow;
    border-radius: 5px;
    background-color: yellow;
}
.banner-image{
    width: 50%;
    margin-left: 30px;
}
.banner-image img{
    width: 400px;
}
/* main section start */
.information{
    display: flex;
    width: 1200px;
    margin-left: 50px;
    margin-top: 50px;
    padding:50px;
}
.flag{
    display: flex;
}
.inform-card{
     width: 252px;
     height: 280px;
    display: flex;
    flex-direction: column;
    background-color:lightseagreen;
    margin-right: 30px;   
}
.inform-card #spaciall{background-color: crimson;}
.inform-card a{
    text-decoration: none;
    background-color: white;
    color:rgb(96, 80, 80);
    text-align: center;
    margin: 10px;
    font-size: 20px;
    padding:15px ;
    border: 1px solid white;
    border-radius:10px ;
}
.icon-chat{
    display: flex;
    justify-content: space-evenly;
}
.field-players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    border-start-start-radius: 5px;
}
.player-image{
    width: 260px;
}
/* footer section start */
footer{
     background-color: lightseagreen;
     width: 1200px;
     height: 300px;
     margin-left: 80px;
     text-align: center;
}
footer h2{
     font-size: 35px;
     color: #ffffff;
     margin-top: 80px;
     padding-top: 80px;
}
footer p{
    color:#ffffff;
}
footer hr{
    border: 1px solid rgb(132, 112, 109);
}
.footer-menu a{
    text-decoration: none;
    padding-left: 20px;
    color: #ffffff;
}
footer-follow{
    display:flex ;
}
/* footer section end */

/* breakpoint for mobile device start */
@media screen and (max-width:576px) {
    header{
        background-color:black;
        width: 250px;
        margin-left: 100px;
        padding:50px;
        border-radius: 25px;
    }
    .show-banner{
        display: flex;
        flex-direction: column;
}
.banner-header h1{
    color: white;
    font-size: 30px;
}
.banner-header p{
color: white;
font-size: 14px;
}
.banner-image{
    width: 25%;
}

.banner-image img{
    width: 250px;
    padding-top: 20px;
}
.information{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-left: 50px;
    margin-top: 50px;;
    padding:50px;
}
.field-players{
    display: grid;
    grid-template-columns:1fr;
    gap: 10px;
    padding-top: 30px;
    border-start-start-radius: 5px;
}
.icon-chat{
    display: flex;
    justify-content: space-around;
    
}
footer{
    background-color: black;
    width: 400px;
    height: 400px;
    margin-left: 80px;
    text-align: center;
}
footer h2{
    font-size: 35px;
    color: #ffffff;
    margin-top: 50px;
    padding-top: 50px;
}
.footer-menu a{
    display: block;
    align-items: center;
    padding: 2px;
    text-decoration: none;
    color: #ffffff;
}
footer-follow{
    display:flex ;
}

}
/* breakpoint for mobile device end */
